/ExampleBalanceBoard/build/
/ExampleSpinningWheel/build/
/ExampleSwingingArm/build/
/ExampleDriveTrain/nbproject/private/
/ExampleCameraTurret/build/
/ExampleCameraTurret/nbproject/private/
/ExampleSpinMotorOnClick/nbproject/private/